<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon [routerLink]="'/'">menu_book</mat-icon>
  </button>
  <span>Exam Portal</span>
  <span class="example-spacer"></span>
  <button
    *ngIf="!loginService.isLoggedIn()"
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
    [routerLink]="'/login'"
  >
    Login
  </button>
  <button
    *ngIf="!loginService.isLoggedIn()"
    mat-icon-button
    class="example-icon ml mr"
    aria-label="Example icon-button with share icon"
    [routerLink]="'/signup'"
  >
    signUp
  </button>
  <button
    *ngIf="loginService.isLoggedIn()"
    mat-icon-button
    class="example-icon favorite-icon mr"
    aria-label="Example icon-button with heart icon"
    [routerLink]="'/login'"
  >
    {{ loginService.getUser().username }}
  </button>
  <button
    *ngIf="loginService.isLoggedIn()"
    (click)="logout()"
    mat-icon-button
    class="example-icon ml mr"
    aria-label="Example icon-button with share icon"
    [routerLink]="'/login'"
  >
    Logout
  </button>
</mat-toolbar>
