.admin__profile{
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
    margin: 10px;
}
table {
    width: 70%;
    /* border-bottom: 1px solid #ccc; */
    text-align: center;
    margin: auto;
    border-collapse: collapse;
}
th,td{
    border-bottom : 1px solid #ccc;
    padding: 10px 0px;
    width: 50%;
}